@mixin core_touch-menu {
	.touch-menu-toggle {
		position: relative;
		display: inline-block;
		cursor: pointer;
	}

	.touch-menu-toggle-glyph {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(
			translate(-50%, -50%)
		);
	}

	.touch-menu-toggle-glyph-part {
		display: block;
		position: absolute;

		.__touch-menu-toggle--active & {
			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(1),
			&:nth-child(3) {
				top: 50%;
				left: 50%;
				margin: 0;
			}


			&:nth-child(1) {
				@include transform(
					translate(-50%, -50%)
					rotate(315deg)
				);
			}

			&:nth-child(3) {
				@include transform(
					translate(-50%, -50%)
					rotate(-315deg)
				);
			}
		}
	}

	.touch-menu-drawer {
		display: none;
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;

		@if $touch-menu-drawer-scrollable == true
		{
			overflow-y: auto;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			-webkit-overflow-scrolling: touch;
		}
		@else
		{
			overflow: hidden;
		}

		@if $touch-menu-drawer-align == left
		{
			left: 0;
			@include transform(
				translateX(-100%)
			);
		}
		@else
		{
			right: 0;
			@include transform(
				translateX(100%)
			);
		}

		@if $touch-menu-drawer-max-width != false
		{
			max-width: $touch-menu-drawer-max-width;
		}

		&.__touch-menu-drawer--ready {
			display: block;
		}

		&.__touch-menu-drawer--active {
			@include transform(
				translateX(0)
			);
		}
	}

	.touch-menu-drawer-wrapper {
		position: relative;
	}
}