$touch-menu: 									true !global;
$touch-menu-transitions:						true !default;
$touch-menu-transition-speed:					200ms !default;
$touch-menu-transition-timing:					ease-in-out;

$touch-menu-button-size: 						48px !default;
$touch-menu-button-z-index:						350 !default;

$touch-menu-button-glyph-width:					18px !default;
$touch-menu-button-glyph-height:				16px !default;
$touch-menu-button-glyph-size:					2px !default;

$touch-menu-dropdown-width:						200px !default;
$touch-menu-dropdown-align:						'center' !default;
$touch-menu-dropdown-gutter:					15px !default;

$touch-menu-drawer-align:						'right' !default;
$touch-menu-drawer-background:					white !default;
$touch-menu-drawer-max-width:					400px !default;
$touch-menu-drawer-gutter:						15px !default;
$touch-menu-drawer-z-index:						351 !default;